#startCreateUploadYml .result {
    display: flex;
    min-height: 40px;
    margin: 0 15px 10px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
#startCreateUploadYml .result.error {
    background: #ef272740;
}
ul#categories_list .category {
    padding-left: 20px;
    position: relative;
}

#categories_list input[name*="ignor_sub"] {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
}


#categories_list .category-wraper {
    display: grid;
    grid-template-columns: 1fr 40px;
    border-bottom: 1px #ddd solid;
    padding: 5px 5px 5px 0;
    align-items: center;
}

#tab_t4 .colline.colline-height {
    margin: 0 !important;
    width: 100% !important;
}

.categories {
    position: relative;
}

#categories_list .categories:before {
    content: '';
    position: absolute;
    height: calc(100% - 10px);
    top: 5px;
    left: 5px;
    width: 1px;
    display: block;
    background: #a09898;
}
#categories_list >.category {
    padding: 0;
}

#categories_list input[name*="ignor_sub"]:checked + .lever {
    border: 1px solid #71c70a;
    background: #71c70a47;
}

#categories_list .category.ignor-sub .categories .category-wraper {
    background: #00000029;
}

#categories_list .category-wraper .switch, #categories_list .category-wraper .switch-expendet {
    padding: 0;
}

.update a {
    background: #78ce22;
    color: #fff !important;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 6px;
    margin-top: -4px;
    margin-bottom: 5px;
    border-radius: 14px;
}

.update td {
    padding: 0 !important;
}